.h1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    h1{
        font-family: 'Rubik';
        margin-bottom: 50px;
        transition: 1s;
    }
    
}
.about_asos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 20px;
}
.fio{
    margin-bottom: 10px;
}
.spanfio{
    font-size: 30px;
    
}
.about_me{
    p{
        font-size: 25px;
        font-family: 'Rubik';
        width: auto;
        transition: 1s;
    }
}
@media (max-width: 769px) {
    .about_me{
        margin: 0px 10px 0px 10px;
        p{
            font-size: 22px;
        }
    }
}
@media (max-width: 415px) {
    .about_me{
        margin: 0px 10px 0px 10px;
        p{
            font-size: 20px;
        }
    }
}
@media (max-width: 376px) {
    .about_me{
        margin: 0px 10px 0px 10px;
        p{
            font-size: 18px;
        }
    }
}
@media (max-width: 361px) {
    .about_me{
        margin: 0px 10px 0px 10px;
        p{
            font-size: 16px;
        }
    }
}